<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% if title %}{{ title }}{% else %}Лабораторная работа №4{% endif %}</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('index') }}">Лаба 4</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Список пользователей</a>
              </li>

              {% if current_user.is_authenticated %}
                <li class="nav-item">
              <a class="nav-link" href="{{ url_for('change_password') }}">Изменить пароль</a>
              </li>
                </li>
                
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logs.view_logs') }}">Журнал посещений</a>
              </li>

                <li class="nav-item">
                  <a class="nav-link text-danger" href="{{ url_for('logout') }}">Выйти ({{ current_user.login }})</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link text-success fw-bold" href="{{ url_for('login') }}">Войти</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="my-4">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="bg-dark text-white py-4 mt-5">
      <div class="container text-center">
        <p class="mb-0">Работу выполнила: Дудченко Алёна</p>
        <p class="mb-0">Группа: 241-326</p>
        <small class="text-muted">© 2026 Веб-приложение на Flask</small>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>